# See PlayerModifiers.cfg.dist for documentation
# Master switch (0 = disabled, 1 = enabled)
Enabled=0
all modifiers: hp=10.00 physAtk=10.00 engAtk=10.00 physDef=10.00 engDef=10.00 atkSpd=10.00 runSpd=10.00 attackRate=10.00 dodgeRate=10.00 blockRate=10.00 blockDmg=10.00 guardRate=10.00 physCrit=10.00 engCrit=10.00 physCritDmg=10.00 engCritDmg=10.00
