# See PlayerModifiers.cfg.dist for documentation
Enabled=0
all modifiers: hp=5.00 physAtk=5.00 engAtk=5.00 physDef=5.00 engDef=5.00 atkSpd=20.00 runSpd=5.00 attackRate=15.00 dodgeRate=15.00 blockRate=1.00 blockDmg=15.00 guardRate=15.00 physCrit=15.00 engCrit=15.00 physCritDmg=15.00 engCritDmg=15.00
